html,body
{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	
}


.bioContent
{
	height: 100%;
}
.background
{
	height: 100%;
	width: 100%;
	background-image: url('Images/bio/bioBack.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:  0% 80%;

}

.footerContainer
{
	padding: 0;
}

.footerContainer ul
{
	margin-top: 0px;
}

.aboutme img
{
	width: 50%;
	margin-top: 6%;
	margin-left: 10%;
	margin-bottom: 7%;
}

.descriptionText
{
	width: 60%;
	height: 45%;
	background-color: white;
	opacity: 0.8;
	padding: 5px 10px;
	margin-left: 10%;

	border-bottom: 4px solid black	
}

.descriptionText p
{
	font-family: "HelveticaNeue-thin";
	text-align: justify;
	margin: 0;
	padding: 0;
	font-size: 16px;
}

#maryName
{
	font-family: "HelveticaNeue-Medium";
}


@media only screen and (max-width: 400px)
{
	.aboutme img
	{
		width: 85%;
		margin-top: 6%;
		margin-left: 5%;
		margin-bottom: 7%;
	}

	.descriptionText
	{
		width: 90%;
		height: 70%;
		background-color: white;
		opacity: 0.8;
		padding: 5px 10px;
		margin-left: 5%;

		border-bottom: 4px solid black	
	}

	.descriptionText p
	{
		font-size: 15px;
	}
}